src/main/resources/wsdl/G2PGTestWalletAPI.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. -->
<definitions targetNamespace="http://com.finsoft.g2pg" name="G2PGTestWalletAPI" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://com.finsoft.g2pg" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://com.finsoft.g2pg" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="loginRequest" nillable="true" type="tns:LoginRequest"/>

      <xs:element name="loginResponse" nillable="true" type="tns:LoginResponse"/>

      <xs:complexType name="LoginRequest">
        <xs:sequence>
          <xs:element name="password" type="xs:string" minOccurs="0"/>
          <xs:element name="username" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="LoginResponse">
        <xs:sequence>
          <xs:element name="sessionToken" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

</xs:schema>
  </types>
  <message name="Login">
    <part name="loginRequest" element="tns:loginRequest"/>
  </message>
  <message name="LoginResponse">
    <part name="loginResponse" element="tns:loginResponse"/>
  </message>

  <portType name="TestWalletService">
    <operation name="Login">
      <input wsam:Action="http://com.finsoft.g2pg/TestWalletService/LoginRequest" message="tns:Login"/>
      <output wsam:Action="http://com.finsoft.g2pg/TestWalletService/LoginResponse" message="tns:LoginResponse"/>
    </operation>

  </portType>
  <binding name="TestWalletServicePortBinding" type="tns:TestWalletService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="Login">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

  </binding>
  <service name="G2PGTestWalletAPI">
    <port name="TestWalletServicePort" binding="tns:TestWalletServicePortBinding">
      <soap:address location="/G2PGTestWalletAPI"/>
    </port>
  </service>
</definitions>

